<div class="body">
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="retirarEfectivo()">
      <h1>Retirar Efectivo</h1>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Cantidad</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0" formControlName="cantidad">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" [disabled]="form.invalid">Retirar</button>
    </form>
    <br>


    <div class="mat-elevation-z8">
      <h2>Cajero</h2>
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="valor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
          <td mat-cell *matCellDef="let element"> ${{element.valorM}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="numBilletes">
          <th mat-header-cell *matHeaderCellDef> Billetes </th>
          <td mat-cell *matCellDef="let element"> {{element.cantidad}} (${{element.cantidad * element.valorM}})</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <br>
      <h2>Total <strong>${{cantidadDineroCajero}}</strong></h2>
    </div>

  </div>